* {
  margin: 0;
  padding: 0;
  line-height: normal; }

  body {
  overflow: hidden;
  font-family: "Lato";
  background-color: rgba(0,0,0,0.05);
  background: #fcfcfc; 
}

.relative {
  position: relative; }

.c-container {
  margin: 0 auto;
  display: block; }

.h-100 {
  height: 100%; }

.h-70 {
  height: 70%; }

.h-10 {
  height: 10%; }

.layer{
  /*background-color: rgba(0,0,0,.02);*/
  width: 100%;
  z-index: 100;
  max-width: 1120px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto; }


#overlay {
  /*background: rgba(255, 255, 255, .75)*/
}

#token-screen{
  background-image: url('../assets/img/token-bg.png'); 
  max-height: 1060px !important;
}

.score-container{
  margin-top: 20px;
}

#balance{
  height: 100%;
  width: 100%;
}

.flex-h {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.panel-button{
  width: 40px;
  height: 40px;
}

#tokens-screen{
  width: 900px;
  height: 900px;
}

#points-container .flex-h.space-around{
  margin-top: 32%; }

#points-container{
  font-family: 'Montserrat';
  margin: 5% auto;
  width: 88%;
  color: #fff;
  font-size: 22px;}

.t-center {
  text-align: center; }

.white-color {
  color: #FFF; }

.panel{
  background-image: url(../assets/img/panel.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
}

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.w-30 {
  width: 30%; }

.f-22 {
  font-size: 22px; }

.mg-t{
  margin-top: 45%;
}

.f-end {
  justify-content: flex-end; }

button{
  position: absolute;
  z-index: 999; }

/*#amount-container {
border-bottom: 1px solid #000;}*/

#bar{
  z-index: 10;
  background-image: url(../assets/img/bar.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 95%;
  height: 29px;
  margin: 5% auto;
  border-radius: 20px;}

.draggable{
  margin: -5px 0px;
  cursor: pointer;
  width: 40px;
  height: 40px;}

#token-p{
  /*background-image: url('../assets/img/poorHigh.png');*/
  background-repeat: no-repeat;
  background-size: contain;
  margin: -5px auto 0px;
  margin-bottom: 40px;
  width: 90%;
  height: 31px; 
  min-height: 45px !important;
  }

#token-ui{
 /* background-image: url('../assets/img/valuesSlider.png');*/
  background-repeat: no-repeat;
  background-size: contain;
  margin: 70px auto 0px;
  margin-bottom: -15px;
  width: 90%;
  height: 28px; 
  min-height: 42px !important;
  }

#tokens-amount{
    margin-right: 20px;
    padding: 0;
    line-height: normal;
    color: rgb(92, 38, 102);
    font-size: 60px;
    font-weight: bold;
    width: 60% !important;
    height: 60% !important;
}

/*.color-1{color: chocolate;}
.color-2{color: blue;}
.color-3{color: red;}*/



#tokens-amount > svg{
  left: 0;
  top: 0;
  position: absolute;
}

.lato{
  font-weight: bold;
  color: white;
}

.lato-b{
  font-weight: bold;
  color: black;
}
.p-size{
  font-size: 25px;
}

#play-button {
  width: 20%;
  position: absolute;
  bottom: 5%;
  left: 40%;
  cursor: pointer;
}

#no-tokens-screen{
  background: url('../assets/img/nogametokens.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.no-server-request{
    display: none;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: cursive;
    background: rgb(65,176,189) !important;
    z-index: 101 !important;
}

#init-screen > div{
  margin: 35% auto;
  height: 90%; }

  #start-button {
    margin: 0 auto;
    width: 120px;
    z-index: 10;
    cursor: pointer;
}

.c-start{
  width: 25%;
  height: 25%;
}

#start-screen{
  z-index: -1;
}

#start-button-container {
  position: absolute;
  display: block;
  bottom: 6.5%;
  width: 100%; }

button[disabled] {
  opacity: 0.5; }

.disabled { 
  opacity: 0.2;
  pointer-events: none;  }

.disp-none {
  display: none; }

.sound-container{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 101;
  top: 20px;
  left: 20px;
}

#play-again{
width: 30%;
    margin: auto;
    z-index: 0;
    bottom: 17.5%;
    position: absolute;
    left: 32.5%;
    height: 6% !important;
    background-color: rgba(0,0,0,0) !important;
    cursor: pointer;
}

#play-more{
width: 30%;
    margin: auto;
    z-index: 0;
    bottom: 8.5%;
    position: absolute;
    left: 32.5%;
    height: 6% !important;
    background-color: rgba(0,0,0,0) !important;
    cursor: pointer;
}

#games{
    width: 31%;
  margin: -44% auto;
  z-index: 0;
  bottom: 1.5%;
  position: absolute;
  left: 0%;
  background-color: rgba(0,0,0,0) !important;
}

.flag{
  height: 100%;
  width: 100%;
  margin: 2% auto !important;
  left: 1.5% !important;
  position: absolute !important; 
}

.w-100 {
  width: 100% !important; }

.loading{
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 999;
  background-color: white;
  margin: 0 !important;
}

.again{
  cursor: ns-resize;
}

    @charset "utf-8";

    .sliderContainer {
      width: 85%;
      margin: 0 auto;
      z-index: 99
    }

    /*.slider::after{
      content: '250';
      color: white;
      font-size: 2rem;
      position: absolute;
      left: 83%;
      top: 22%;
    }

    .slider::before {
      content: '0';
      color: white;
      font-size: 2rem;
      position: absolute;
      left: 13.5%;
      top: 22%;
    }*/

    .slider {
     -webkit-appearance: none;
     width: 100%;
     height: 20px;
     background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214,214,214) 60%);
     outline: none;
     opacity: 0.7;
     -webkit-transition: 0.2s;
     transition: opacity 0.2s;
     border-radius: 12px;
     box-shadow: 0px 1px 10px 1px rgba(26,26,26, .3);
    
    }

   

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      background: white;
      border-radius: 50%;
      cursor: pointer;
      left: 50%;
    }

    .slider::-moz-range-thumb {
      width: 40px;
      height: 40px;
      background: white;
      border-radius: 50px;
      cursor: pointer;
    }

@media screen and (max-width: 660px) {
  #bar{
    /*background-size: contain;*/
    height: 25px;
  }

  .draggable {
  	width: 32px;
	height: 32px;
  }
}

@media screen and (max-width: 550px) {
  #bar{
    /*background-size: contain;*/
    height: 20px;
  }
  
  .draggable {
  	width: 28px;
	height: 28px;
  }
}
